/* Announcements */
.announcement-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.announcement-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.announcement-details {
    font-size: 14px;
    color: #666;
}

/* Requests */
.request-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.request-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.request-details {
    font-size: 14px;
    color: #666;
}
